.moderation-form
{
  z-index:100;
  position:absolute;
  border-radius: 30px 30px;
  padding:15px;
  min-width:220px;

/* Gradient background */
  background: rgb(235,241,246); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 34%, rgba(213,235,251,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(34%,rgba(171,211,238,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 34%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 34%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 34%,rgba(213,235,251,1) 100%); /* IE10+ */
  background: linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 34%,rgba(213,235,251,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/* Dropshadow */ 
  -webkit-box-shadow: 10px 10px 20px 2px #888;
  -moz-box-shadow: 10px 10px 20px 2px #888;
  box-shadow: 10px 10px 20px 2px #888;
}
